@import "../../styles/variables.css";

.homepageContainer {
    width: 100%;
    display: flex;
    padding-top: 5em;
}

.coursesListContainer {
    /*float: left;*/
    /*width: 50%;*/
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.1em solid var(--grey-color);
}

.quizListContainer {
    /*float: right;*/
    /*width: 50%;*/
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0.1em solid var(--grey-color);
}