@import "../../styles/variables.css";

.singleCoursePageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 10px 0;*/
}

.singleCoursePageInfo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    /*border-bottom: 1px solid var(--dark-color);*/
}
.singleCoursePageCourseName {
    /*display: inline;*/
    /*width:70%;*/
    color: var(--dark-color);

    font-size: 1.5rem;
    padding: 0.5em;
    font-weight: bold;

    margin-right: 20px;
}

.singleCoursePageTeacherName {
    color: var(--dark-grey-color);
    font-size: 1.2rem;
}


.unregisterButton {
    color: var(--dark-color);
    background-color: var(--grey-color);
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-weight: bold;
    /*display: inline-block;*/
    cursor: pointer;
    /*width:10%;*/
    /*float: right;*/
    /*text-align: center;*/

}

.courseButton {
    margin: 0.5em;
    background-color: var(--brand-color);
    color: var(--light-color);
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    cursor: pointer;
}

.courseDangerButton {
    margin: 0.5em;
    background-color: var(--error-color);
    color: var(--light-color);
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1.2rem;
    cursor: pointer;
}

.singleCourseDescription {
    /*height: 40%;*/
    color: var(--dark-grey-color);
    font-size: 1rem;
    border-bottom: 0.1em solid var(--brand-dark-color);
    display: flex;
    padding: 1em;
    font-weight: bold;
    /*text-align: center;*/
}

.singleCoursePageContainer {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.singleCoursePageDetails {
    height: 60%;
    display: flex;
    /*text-align: center;*/
}

.singleCoursePageSectionTitle {
    text-align: center;
    font-size: 1.2rem;
}

/*.singleCoursePageDetails {*/
/*    margin-top: 2em;*/
/*}*/

/*.singleCoursePageDetailsText {*/
/*    margin-bottom: 0.5rem;*/
/*}*/

/*.singleCoursePageDetailsTextTitle {*/
/*    font-size: 1rem;*/
/*    color: var(--brand-color);*/
/*}*/

.singleCourseChapters {
    flex: 1;
    height: 100%;
    border-right: solid 0.1em solid var(--brand-dark-color);
}

.singleCourseQuizzes {
    flex: 1;
    height: 100%;
    border-left: 0.1em solid var(--brand-dark-color);
}

.courseIcon {
    color: var(--brand-color);
    margin-left: 0.5em;
}