@import "../../styles/variables.css";

.singleCoursePageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleCoursePageInfo {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-left: 1em;
}
.singleCoursePageCourseName {
    color: var(--dark-color);

    font-size: 1.5rem;
    padding: 0.5em 0;
    font-weight: bold;

    margin-right: 20px;
}

.singleCoursePageTeacherName {
    color: var(--dark-grey-color);
    font-size: 1.2rem;
}


.unregisterButton {
    color: var(--dark-color);
    background-color: var(--grey-color);
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.courseButton {
    margin: 0.5em;
    background-color: var(--brand-color);
    color: var(--light-color);
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    cursor: pointer;
}

.courseDangerButton {
    margin: 0.5em;
    background-color: var(--error-color);
    color: var(--light-color);
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1.2rem;
    cursor: pointer;
}

.singleCourseDescription {
    /*height: 40%;*/
    color: var(--dark-grey-color);
    font-size: 1rem;
    border-bottom: 0.1em solid var(--brand-dark-color);
    display: flex;
    padding: 1em;
    font-weight: bold;
}

.singleCoursePageContainer {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.singleCoursePageDetails {
    height: 60%;
    display: flex;
}

.singleCoursePageSectionTitle {
    text-align: center;
    font-size: 1.2rem;
}

.singleCourseChapters {
    flex: 1;
    height: 100%;
    border-right: solid 0.1em solid var(--brand-dark-color);
}

.singleCourseQuizzes {
    flex: 1;
    height: 100%;
    border-left: 0.1em solid var(--brand-dark-color);
}

.courseIcon {
    color: var(--brand-color);
    margin-left: 0.5em;
}