@import "../../../styles/variables.css";

.questionCard {
    text-align: left;
}

.question {
    color: var(--dark-color);
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
}

hr {
    border-color: var(--light-color);
}

.answersList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.singleAnswer {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 1rem;
    margin: 0.2rem;
    border-radius: 5px;
    padding: 1rem;
    border: none;
    font-weight: bold;
    text-align: left;
    max-width: 60%;
}

.singleAnswer:hover {
    background-color: var(--opposite-color);
    cursor: pointer;
    color: white;
}

.questionButtons {
}

.simple {
    background-color: var(--grey-color);
    color: var(--dark-color);
    font-size: 1rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-weight: bold;

}

.submit {
    color: var(--light-color);
    background-color: var(--brand-color);
    font-size: 1rem;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-weight: bold;
}