@import "../../styles/variables.css";

.quizHistoryList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style-type: none;
    justify-content: center;
    padding-right: 20em;
    padding-left: 20em;
}

.quizSessionsListTitle {
    color: var(--dark-color);
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-size: 2rem;
    border-bottom: 1px solid var(--dark-color);
    font-weight: bold;
}

.singleQuizSessionTextContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--grey-color);
}

.singleQuizSessionInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.singleQuizSessionTitle {
    color: var(--dark-color);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

.singleQuizSessionDate {
    color: var(--dark-color);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

.singleQuizSessionResultsContainer {
    display: flex;
    justify-content: flex-start;
    margin-right: 2em;
}

.singleQuizSessionResult {
    margin-right: 2em;
}

.singleQuizSessionResultLabel {
    color: var(--dark-color);
    font-weight: bold;
    margin-right: 0.5em;

}

.singleQuizSessionButtonsContainer {
    display: flex;
    justify-content: flex-start;
}

.singleQuizSessionButton {
    color: var(--light-white-color);
    background-color: var(--brand-color);
    font-size: 1rem;
    margin-right: 1em;
    margin-top: 1em;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: none;
    font-weight: bold;
}