@import "../../styles/variables.css";

.myCoursesList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style-type: none;
    justify-content: center;
}

.myCoursesListTitle {
    color: var(--dark-color);
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-size: 2rem;
    border-bottom: 1px solid var(--dark-color);
    font-weight: bold;
}

.mySingleCourseContainer {
    /*margin: auto auto 2rem;*/
    /*padding: 1rem;*/
    display: flex;
    align-items: center;
}

.bookmarkIcon {
    color: #F8A16E;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.mySingleCourseTextContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.mySingleCourseTitle {
    color: var(--dark-color);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

.mySingleCourseDetails {
    color: var(--dark-grey-color);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    /*margin-left: 1rem;*/
}

.moreButton {
    color: var(--light-color);
    background-color: var(--dark-color);
    font-size: 1rem;
    margin: 5rem 1rem 1rem;
    border-radius: 50px;
    padding: 1rem;
    border: none;
    font-weight: bold;
    display: inline-block;
}