@import "../../styles/variables.css";

.csvImportPageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.csvImportPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 10%;
}

.csvImportPageInfo {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.csvImportPageImportRow {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.csvImportPageImportBox {
    background-color: var(--mid-white-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 90%;
    height: 90%;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.csvImportPageChooseFileButton {
    display: inline-block;
    color: var(--brand-color);
    background-color: var(--grey-color);
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.csvImportPageMessageRow {
    flex: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.csvImportPageOptionsRow {
    flex: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.csvImportPageOptionsColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: auto;
    padding: 1rem 0;
}

.csvImportPageFa {
    color: var(--mid-white-color);
    cursor: pointer;
}

.csvImportPageOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100px;*/
    gap: 1em;
    height: auto;
}

.csvImportPageText {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--brand-color);
    font-weight: bold;
    text-align: center;
}

.csvImportPageMessageText {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--brand-dark-color);
    font-weight: bold;
    text-align: center;
}

.csvImportPageButton {
    margin: 0.5em;
    background-color: var(--brand-color);
    color: var(--light-color);
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    cursor: pointer;
}