@import "../../styles/variables.css";

.questionsManagerCoursesList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-right: 5em;
    padding-left: 5em;
}

.questionsManagerCoursesListTitle {
    color: var(--dark-color);
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-size: 2rem;
    border-bottom: 1px solid var(--dark-color);
    font-weight: bold;
}

.questionsManagerCoursesListSubTitle {
    color: var(--dark-color);
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--dark-color);
    font-weight: bold;
    text-align: center;
    width: 20%;
    margin: auto;
}

.questionsManagerSingleCourseContainer {
    display: flex;
    border-bottom: 1px solid var(--dark-grey-color);
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 40%;
    margin: auto;
}

.questionsManagerSingleCourseTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.questionsManagerSingleCourseCheckbox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionsManagerSingleCourseTitle {
    color: var(--brand-dark-color);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

.questionsManagerSingleCourseDetails {
    color: var(--dark-grey-color);
    font-size: 1rem;
    /*font-weight: bold;*/
    margin: 0;
    /*margin-left: 1rem;*/
}