@import "../../styles/variables.css";

.courseChaptersList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style-type: none;
    justify-content: center;
    text-align: center;
    padding-right: 10em;
    padding-left: 10em;
}

.singleCourseChaptersPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleCourseChaptersPageInfo {
    /*display: flex;*/
    /*flex-grow: 1;*/
    align-items: center;
    display: inline;
    /*border-bottom: 1px solid var(--dark-color);*/
}
.singleCourseChaptersPageCourseName {
    /*display: inline;*/
    /*width:70%;*/
    color: var(--dark-color);

    font-size: 1.5rem;
    padding: 0.5em;
    font-weight: bold;

    margin-right: 20px;
}

.singleChapterContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.chapterContent {
    flex-grow: 1;
    text-align: left;
}

.chapterIcons {
    display: flex;
    gap: 5px;
    margin-right: 1em;
}

.backButton {
    color: var(--dark-color);
    background-color: var(--grey-color);
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-weight: bold;
    display: inline;
    cursor: pointer;
}

.chapterButton {
    margin: 0.5em;
    background-color: var(--brand-color);
    color: var(--light-color);
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    cursor: pointer;
}

.backButton:hover {
    background-color: var(--brand-color);
}